.footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
}

.footer__media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__media img {
  height: 3rem;
  margin: 0 0.5rem;
  box-shadow: 1px 1px 1px 1px white;
  border-radius: 50%;
}
