.banner {
  position: relative;
  min-height: 45vh;
  height: auto;
}

.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem 2rem;
  box-sizing: border-box;
  color: #fff;
}

.banner__skills {
  max-width: 50%;
  padding: 0.5rem 0;
  box-sizing: border-box;
}

.banner__skills p {
  font-weight: 800;
  font-style: oblique;
  font-size: 3rem;
}

.banner__skill-item {
  position: absolute;
  color: var(--contrast-color);
  margin: auto 0;
  margin-left: 0.5rem;
  font-weight: 800;
  font-style: oblique;
  font-size: 3rem;
  opacity: 0;
  animation: fade-skills 10s forwards infinite;
  -webkit-animatio: fade-skills 10s forwards infinite;
}

.banner__skill-item:nth-child(1) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
.banner__skill-item:nth-child(2) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.banner__skill-item:nth-child(3) {
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
}
.banner__skill-item:nth-child(4) {
  animation-delay: 6s;
  -webkit-animation-delay: 6s;
}
.banner__skill-item:nth-child(5) {
  animation-delay: 8s;
  -webkit-animation-delay: 8s;
}

.banner__scroll_arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1rem;
  height: 4rem;
  width: 100%;
  -webkit-animation: scrollingDown 1s infinite alternate;
  animation: scrollingDown 1s infinite alternate;
}

@-webkit-keyframes scrollingDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes scrollingDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes fade-skills {
  0%,
  20% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-skills {
  0%,
  20% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .banner__skills p {
    font-size: 1.5rem;
  }

  .banner__skill-item {
    font-size: 1.5rem;
  }

  .banner__scroll_arrow {
    height: 3rem;
    width: 100%;
  }
}
